docker-compose==1.16.1
pgcli==1.8.1
mycli==1.13.1
httpie==0.9.9
awscli==1.11.170
awsebcli==3.12.0
pip-tools==1.10.1
cookiecutter==1.6.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.2.15
tmuxp==1.3.4
pylint==1.7.4
flake8==3.5.0
